kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4

nodes:
  #
  # Control plane (exposes ingress to host)
  #
  - role: control-plane
    extraPortMappings:
      - containerPort: 30807
        hostPort: 8081
        protocol: TCP
      - containerPort: 30806
        hostPort: 8443
        protocol: TCP

  #
  # Worker A → PolyNote-A
  #
  - role: worker
    extraMounts:
      - hostPath: ${POLYNOTE_DATA_DIR}/a
        containerPath: /var/polynote-a
    kubeadmConfigPatches:
      - |
        kind: JoinConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "role=polynote-a"

  #
  # Worker B → PolyNote-B
  #
  - role: worker
    extraMounts:
      - hostPath: ${POLYNOTE_DATA_DIR}/b
        containerPath: /var/polynote-b
    kubeadmConfigPatches:
      - |
        kind: JoinConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "role=polynote-b"

  #
  # Worker C → PolyNote-C
  #
  - role: worker
    extraMounts:
      - hostPath: ${POLYNOTE_DATA_DIR}/c
        containerPath: /var/polynote-c
    kubeadmConfigPatches:
      - |
        kind: JoinConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "role=polynote-c"
